//
   Created by Pais on 17.04.2015.

doctype html
html
    head
        title="Configuration"
        script(type='text/javascript', src="scripts/jquery-1.11.2.min.js")
        script(type='text/javascript', src="bootstrap/js/bootstrap.min.js")
        script(type='text/javascript', src="scripts/configuration_ready.js")
        link(rel='stylesheet', href="bootstrap/css/bootstrap.min.css")
        link(rel='stylesheet', href='css/configuration_styles.css')
    body
        block content
            img(src='img/Robot_panel_mini.png' usemap='#robot_map')
            map#robot_map(name='robot_map')
                area#bot_left(shape='poly' onfocus="blur()" href="#" coords='114, 276, 114, 293, 125, 300, 126, 312, 114, 318, 114, 335, 70, 335, 53, 317, 45, 311, 45, 300, 57, 291, 56, 274')
                area#bot_right(shape='poly' onfocus="blur()" href="#" coords='241, 335, 226, 320, 216, 312, 216, 301, 227, 292, 227, 277, 286, 277, 286, 294, 295, 301, 296, 312, 285, 321, 285, 336')
                area#top_right(shape='poly' onfocus="blur()" href="#" coords='253, 147, 253, 131, 241, 124, 241, 112, 252, 105, 252, 88, 295, 88, 313, 106, 322, 115, 321, 124, 310, 132, 310, 147')
                area#top_center(shape='poly' onfocus="blur()" href="#" coords='143, 95, 143, 79, 133, 70, 133, 59, 144, 52, 144, 35, 188, 35, 205, 52, 213, 63, 213, 72, 202, 79, 202, 95')
                area#top_left(shape='poly' onfocus="blur()" href="#" coords='38, 148, 38, 132, 27, 127, 27, 113, 38, 107, 38, 90, 82, 89, 98, 108, 106, 117, 106, 125, 95, 133, 95, 149')
            text Выбор порта:
            div.btn-group
                button#portName.btn Не выбран
                button.btn.dropdown-toggle(data-toggle='dropdown')
                    span.caret
                ul#portsList.dropdown-menu
                    li#portsDivider.divider
                    li
                        a#refreshPorts Обновить список портов
            div#contextMenu.dropdown
                ul.dropdown-menu(role="menu" style="display: block; position: static")
                    li#header.contextMenuItem
                        text.contextMenuText №
                        select.select
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                        span.glyphicon.glyphicon-remove.contextMenuRight(title = "Закрыть")
                    li.divider
                    li.contextMenuItem
                        text.contextMenuText Название
                        input.contextMenuRight(type="text")
                    li.contextMenuItem.btn-group
                        text.dropdown-toggle(data-toggle='dropdown') Тип
                        ul.dropdown-menu
                            li
                                a Касания
                            li
                                a Линии
                            li
                                a Света
                            li
                                a Глаз
                    li.contextMenuItem
                        text.contextMenuText Пороги срабатывания
                        span.glyphicon.glyphicon-plus.contextMenuRight
                        ul#thresholdsList
                    li.divider
                    li
                        a#save Сохранить
                            span.glyphicon.glyphicon-ok.floatRight
                    li
                        a#remove Удалить
                            span.glyphicon.glyphicon-trash.floatRight

