extends layout
block content
    h1 "Hello"
    div#settingsModal.modal.fade(role='dialog', aria-labelledby='settingsModalLabel', aria-hidden='true')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#settingsModalLabel.modal-title Modal title
                div.modal-body "Hello!"

                div.modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes

    button#settings.btn-sm.btn-default(type="button",style="margin-right: 5px" data-toggle="modal" data-target="#settingsModal") Настройки
