table.table.table-hover
    thead
        tr
            th Название
            th Хеш
    tbody
        each val, index  in hashes
            tr(onclick="loadSketch(\'"+val.n+"\', \'"+index+"\');")
                td.name= val.n
                td.hash= index
                td
                    button.btn.btn-block.btn-default.deleteSketchButton
                        span.glyphicon.glyphicon-trash(aria-hidden="true")
