<xml id="toolbox" style="display: none">
    <category name="Переменныe">
        <block type="math_number"></block>
        <block type="math_single"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
    </category>
    <category name="Контроль">
        <block type="controls_if"></block>
        <block type="controls_whileUntil"></block>
        <block type="when_key_pressed"></block>
    </category>
    <category name="Сенсоры">
        <block type="sensor_value"></block>
        <block type="button_pushed"></block>
        <block type="reload_sensor_values"></block>
    </category>
    <category name="Операторы">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Мотор">
        <block type="engine_turn_on_sec"></block>
        <block type="engine_turned_off"></block>
        <block type="engine_direction"></block>
    </category>
</xml>