<xml id="toolbox" style="display: none">
    <category name="blockly.toolbox.math.title">
        <block type="math_number"></block>
        <block type="math_arithmetic"></block>
        <block type="math_single"></block>
        <block type="math_trig"></block>
        <block type="math_constant"></block>
        <block type="math_number_property"></block>
        <block type="math_change"></block>
        <block type="math_round"></block>
        <block type="math_on_list"></block>
        <block type="math_modulo"></block>
        <block type="math_constrain"></block>
        <block type="math_random_int"></block>
        <block type="math_random_float"></block>
    </category>
    <category name="blockly.toolbox.operators.title">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
    </category>
    <category name="blockly.toolbox.variables.title">
        <block type="variables_get"></block>
        <block type="variables_set"></block>
    </category>
    <category name="blockly.toolbox.functions.title">
        <block type="procedures_defnoreturn"></block>
        <block type="procedures_defreturn"></block>
        <block type="procedures_ifreturn"></block>
    </category>
    <category name="blockly.toolbox.text.title">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_create_join_container"></block>
        <block type="text_create_join_item"></block>
        <block type="text_append"></block>
        <block type="text_length"></block>
        <block type="text_isEmpty"></block>
        <block type="text_indexOf"></block>
        <block type="text_charAt"></block>
        <block type="text_getSubstring"></block>
        <block type="text_changeCase"></block>
        <block type="text_trim"></block>
        <block type="text_print"></block>
        <block type="text_prompt"></block>
        <block type="text_prompt_ext"></block>
    </category>
    <category name="blockly.toolbox.lists.title">
        <block type="lists_create_empty"></block>
        <block type="lists_create_with"></block>
        <block type="lists_create_with_container"></block>
        <block type="lists_create_with_item"></block>
        <block type="lists_repeat"></block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf"></block>
        <block type="lists_getIndex"></block>
        <block type="lists_setIndex"></block>
        <block type="lists_getSublist"></block>
        <block type="lists_split"></block>
    </category>
    <sep></sep>
    <category name="blockly.toolbox.controls.title">
        <block type="controls_whileUntil"></block>
        <block type="controls_repeat_ext"></block>
        <block type="when_key_pressed"></block>
        <block type="while_program_running"></block>
        <block type="pause"></block>
    </category>
    <category name="blockly.toolbox.sensors.title">
        <block type="sensor_value"></block>
        <block type="button_pushed"></block>
    </category>
    <category name="blockly.toolbox.engine.title">
        <block type="engine_turn_on_sec"></block>
        <block type="engine_turn_on"></block>
        <block type="engine_turn_off"></block>
        <block type="engine_direction"></block>
        <!-- <block type="engine_angle"></block> -->
    </category>
</xml>