<xml id="toolbox" style="display: none">
    <category name="Контроль">
        <block type="controls_if"></block>
        <block type="controls_whileUntil"></block>
    </category>
    <category name="Сенсоры">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block
        <block type="logic_boolean"></block>
    </category>
    <category name="Операторы">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_boolean"></block>
    </category>
    <category name="Переменные">
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_boolean"></block>
    </category>
</xml>