#contextMenu {
    position: absolute;
    display: none
}

.contextMenuItem {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    marin-top: 10px
}

.contextMenuText {
    margin-right: 5px;
}

.contextMenuRight {
    float: right;
    margin-right: 10px;
}

.floatRight {
    float: right;
}