#contextMenu {
    position: absolute;
    display: none
}

.contextMenuItem {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    marin-top: 10px
}

.contextMenuText {
    margin-right: 5px;
}

.contextMenuRight {
    float: right;
    margin-right: 10px;
}

.floatRight {
    float: right;
}

.inputSmall {
    height: 20px;
    width: 160px;
}

#sensorsPanel {
    padding-top: 0;
    padding-bottom: 0;
}

#sensorsPanel h1:first-child {
    margin-top: 0;
}

#sensorsPanel .row.no-gutter {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

/*#sensorsPanel .row.no-gutter :not(:last-child) {
    margin-bottom: 5px;
}

#sensorsPanel .row.no-gutter [class*='col-']:not(:first-child),
#sensorsPanel .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 2px;
    padding-left: 1px;
}*/
/*

.sensorValue {
    display: inline;
    margin-right: 5px;
}

.sensorValue input {
    width: 15%;
}
*/
